
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header {
    width: 100%;
    z-index: 1;
    height: 200px;
    background-color: white;
    flex-direction: column;
}

header img {
    height: 200px;
    width: 400px;
}


a {
    color: seashell;
}

.hero {
    margin-top: 0px;
    background-image: url(/images/serene.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    opacity: 0.75;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.welcome {
    display: flex;
    justify-content: center;
    background-color: rgb(109, 32, 128);
    color: white;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color:rgb(109, 32, 128)
}

.column {
    flex: 50%;
    color: white;
    justify-content: center;
}


#melissa {
    border-radius: 10px;
    margin: 30px;
    width: 250px;
    height: 300px;
}

.about p {
    padding: 10px;
    margin: px;
    line-height: 25px;
}

.column h2 {
    margin: 0;
}